<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Players</title>
</head>
<body>
  <ul>
    <% players.forEach((p)=>{ %>
      <li>
        <%= p.name %>
            -
         <%= p.foot %> 
            -
        <%= p.desc %> 
      </li>
    <% }) %>
  </ul>
      
  

</body>
</html>